.features.container {
  padding: 0;
  padding-left: 10px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include reset-list();
}

.features__item {
  position: relative;
  padding-top: 90px;
  color: $white-color;
  opacity: 0.6;
  text-align: center;

  &--guarantee {
    width: 17.09%;
    margin-right: 24%;
  }

  &--responsibility {
    width: 17.09%;
  }

  &--base {
    width: 20.5%;
    margin-left: auto;
  }
}

.features__icon {
  position: absolute;
  opacity: 0.7;
  fill: $white-color;
  left: 50%;

  &--guarantee {
    top: 2px;
    margin-left: -31px;
    width: 62px;
    height: 64px;
  }

  &--responsibility {
    top: 17px;
    margin-left: -37px;
    width: 74px;
    height: 49px;
  }

  &--base {
    top: -3px;
    margin-left: -35px;
    width: 70px;
    height: 69px;
  }
}

.features__text {
  @include reset-indents();
  margin: 0 auto;
  text-align: center;

  &--guarantee {
    width: 95.5%;
  }

  &--responsibility {
    width: 81.5%;
  }

  &--base {
    width: 95.5%;
  }
}

@media (max-width: $desktop-width) {
  .features {
    position: relative;
    width: 100%;
    margin-bottom: 22px;

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  .features.container {
    padding: 0 2.5%;
  }


  .features-list {
    position: relative;
    width: 100%;
    min-height: 165px;
    justify-content: space-between;
  }

  .features__item {
    width: 33%;
    padding-top: 75px;
    padding-bottom: 37px;
    font-size: 12px;
    line-height: 16px;
    color: $black-color;
    opacity: 0.7;
    background-color: $white-color;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);

    &--guarantee {
      margin-right: 0;
    }

    &--base {
      margin-left: 0;
    }
  }

  .features__item--responsibility .features__text {
    width: 54.5%;
  }

  .features__icon {
    opacity: 0.3;
    fill: $black-color;

    &--guarantee {
      top: 3px;
    }

    &--responsibility {
      top: 20px;
    }

    &--base {
      top: 0;
    }
  }

  .features__text--guarantee {
    width: 80.5%;
  }

  .features__text--base {
    width: 82.5%;
  }

  .features__input--1:checked ~ .slider .slider__label[for="features__btn-1"],
  .features__input--2:checked ~ .slider .slider__label[for="features__btn-2"],
  .features__input--3:checked ~ .slider .slider__label[for="features__btn-3"] {
    background-color: $main-color;
  }

  .features__input--1:checked ~ .features__list .features__item--guarantee {
    @include item-checked-tablet();
  }

  .features__input--2:checked ~ .features__list .features__item--responsibility {
    @include item-checked-tablet();
  }

  .features__input--3:checked ~ .features__list .features__item--base {
    @include item-checked-tablet();
  }

  .features__input--1:checked ~ .features__item .features__icon--guarantee {
    opacity: 1;
  }

  .features__input--2:checked ~ .features__item .features__icon--responsibility {
    opacity: 1;
  }

  .features__input--3:checked ~ .features__item .features__icon--base {
    opacity: 1;
  }
}

@media (max-width: $tablet-width) {
  .features {
    margin-bottom: 0;
    width: calc(100% - 12%);
    border: 1px solid  $border-color;
  }

  .features__list {
    position: relative;
    height: 195px;
    overflow: hidden;
    width: 100%;
  }

  .features__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 195px;
    padding-top: 115px;
    visibility: hidden;
    opacity: 1;
    font-size: 14px;
    line-height: 20px;
    color: $black-color;
  }

  .features__input--1:checked ~ .slider > .slider__label[for="features__btn-1"],
  .features__input--2:checked ~ .slider > .slider__label[for="features__btn-2"],
  .features__input--3:checked ~ .slider > .slider__label[for="features__btn-3"] {
    width: 8px;
    height: 8px;
  }

  .features__input--1:checked ~ .features__list > .features__item--guarantee {
    @include item-checked-mobile();
  }

  .features__input--2:checked ~ .features__list > .features__item--responsibility {
    @include item-checked-mobile();
  }

  .features__input--3:checked ~ .features__list > .features__item--base {
    @include item-checked-mobile();
  }

  .features__icon {
    opacity: 1;
    fill: $black-color;

    &--guarantee {
      top: 35px;
    }

    &--responsibility {
      top: 41px;
      width: 89px;
      height: 59px;
      margin-left: -45px;
    }

    &--base {
      top: 30px;
    }
  }

  .features__item--responsibility .features__text {
    width: 57.5%;
  }
}
