html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto/Roboto.woff2") format("woff2"), url("../fonts/roboto/Roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto/Robotomedium.woff2") format("woff2"), url("../fonts/roboto/Robotomedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto/Robotobold.woff2") format("woff2"), url("../fonts/roboto/Robotobold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../fonts/roboto/Robotoblack.woff2") format("woff2"), url("../fonts/roboto/Robotoblack.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  src: url("../fonts/raleway/ralewayblack.woff2") format("woff2"), url("../fonts/raleway/ralewayblack.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Circle";
  font-weight: 400;
  src: url("../fonts/circle/circle.woff2") format("woff2"), url("../fonts/circle/circle.woff") format("woff");
  font-display: swap;
}


body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  font-family: $font-stack;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
