$font-stack: "Roboto", "Arial", sans-serif;
$font-header: "Raleway", "Arial", sans-serif;
$font-menu-popup: "Circle", "Arial", sans-serif;
$main-color: #00ffd7;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
