.nav-list {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  letter-spacing: -0.06px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-list__item a {
  display: block;
  padding: 19px 19px 25px 0;
  font: inherit;
  color: $menu-color;

  &:hover,
  &focus {
    color: $black-color;
  }
}

@media (max-width: $desktop-width) {
  .nav-list {
    flex-direction: column;
    width: 207px;
    font-family: $font-menu-popup;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    background-color: $gray-color;
  }

  .nav-list__item {
    padding-top: 14px;
    padding-bottom: 6px;
    padding-left: 17px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    &--hidden {
      display: none;
    }
  }

  .nav-list__item a {
    color: $menu-popup-color;
  }
}


@media (max-width: $tablet-width) {
  .nav-list {
    width: 100%;
  }

  .nav-list__item {
    padding-top: 15px;
  }
}
