@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-indents() {
  margin: 0;
}

@mixin indents-mobile() {
  padding: 0 4.2%;
}

@mixin indents-tablet() {
  padding: 0 2.6%;
}

@mixin indents-desktop() {
  padding: 0 1.25%;
}


@mixin item-checked-tablet {
  position: relative;
  z-index: 5;
  transform: scale(1.16, 1.25);
  opacity: 1;
}

@mixin item-checked-mobile {
  visibility: visible;
  z-index: 5;
  transform: none;
}
