@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-indents() {
  margin: 0;
}

@mixin indents-mobile() {
  padding: 0 4%;
}

@mixin indents-tablet() {
  padding: 0 2.9%;
}

@mixin indents-desktop() {
  padding: 0 1.25%;
}
