.section-header {
  display: flex;
  justify-content: space-between;
}

.section-header__title {
  position: relative;

  @include reset-indents();
  width: 25.8%;
  font-family: $font-header;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}

.section-header__line {
  flex-grow: 1;
  margin-top: 23px;
  width: calc(100% - 25.8%);
  height: 2px;
  background-color: $black-color;
}

@media (max-width: $desktop-width) {
  .section-header__title {
    font-size: 25px;
    line-height: 39px;
  }

  .section-header__line {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .section-header__title {
    font-size: 20px;
    line-height: normal;
  }
}
