$font-stack: "Roboto", "Arial", sans-serif;
$font-header: "Raleway", "Arial", sans-serif;
$font-menu-popup: "Circle", "Arial", sans-serif;
$main-color: #00ffd7;
$gray-color: #e7e7e7;
$gray-light: #fbfbfb;
$menu-color: #707070;
$menu-popup-color: #383838;
$services-item-color: #f4f4f4;
$services-item-active: #d7d7d7;
$services-title-color: #313131;
$triangle-sort-color: #aeadad;
$black-color: #000000;
$white-color: #ffffff;
$link-color: rgba(48, 48, 48, 0.77);
$mobile-width: 319px;
$tablet-width: 767px;
$desktop-width: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
