.about-us {
  min-height: 935px;
  color: #fffffe;
  background-color: $black-color;
  background-image: linear-gradient(rgba(5, 5, 5, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0, 50% 100%;
  background-size: auto;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  background-image: url("../img/background-desktop@2x.jpg");
}

.about-us__title {
  @include reset-indents();
  padding-top: 150px;
  margin-bottom: 23px;
  font-family: $font-header;
  font-size: 73px;
  line-height: 86px;
  letter-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
}

.about-us__short-text {
  display: none;
}

.about-us__full-text {
  @include reset-indents();
  margin-bottom: 54px;
  width: 87.18%;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.about-us__year {
  color: $main-color;
}

.about-us__buttons {
  display: flex;
  justify-content: space-between;
  width: 53.2%;
  margin-bottom: 120px;
}

.about-us__button {
  padding: 14px;
  width: 48.3%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 900;
  color: $black-color;
  text-transform: uppercase;

  &--connection {
    color: $white-color;
    border: 1px solid rgb(151, 255, 244);
  }
}

@media (max-width: $desktop-width) {
  .about-us {
    min-height: 600px;
    margin-bottom: 89px;
    background-image: linear-gradient(rgba(5, 5, 5, 0) 0%, rgba(0, 0, 0, 0.85) 100%), url("../img/background-tablet@1x.jpg");
    background-position: 0 0, 100% 100%;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-tablet@2x.jpg");
  }

  .about-us__title {
    padding-top: 125px;
    padding-left: 8.5%;
    margin-bottom: 17px;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: 2px;
  }

  .about-us__full-text {
    margin-bottom: 86px;
    padding-left: 8.5%;
    width: 88.1%;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: -0.08px;
  }

  .about-us__buttons {
    width: 91.4%;
    padding-left: 8.6%;
  }

  .about-us__button {
    padding-top: 15px;
    padding-bottom: 12px;
    width: 48.4%;
    font-size: 16px;
  }
}

@media (max-width: $tablet-width) {
  .about-us {
    position: relative;
    min-height: 465px;
    margin-bottom: 219px;
    background-image: url("../img/background-mobile@1x.jpg");
    background-position: 100% 100%;
    text-align: center;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-mobile@2x.jpg");
  }

  .about-us__title {
    padding-top: 127px;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 18px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0;
  }

  .about-us__short-text {
    display: block;

    @include reset-indents();
    font-size: 16px;
    color: $white-color;
    margin-bottom: 57px;
  }

  .about-us__full-text {
    position: absolute;
    left: 47.5%;
    transform: translateX(-47%);
    top: 107.5%;
    width: 95%;
    margin-bottom: 84px;
    padding-left: 5%;
    padding-right: 2%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: $black-color;
    text-align: left;
  }

  .about-us__year--mobile {
    color: $black-color;
  }

  .about-us__buttons {
    flex-direction: column;
    padding-left: 6%;
    margin-bottom: 40px;
    width: 94%;
  }

  .about-us__button {
    padding-top: 18px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 16px;

    &--active {
      margin-bottom: 10px;
    }
  }
}
