.banner {
  position: relative;
  padding-bottom: 78px;
  margin-bottom: 100px;
  background-color: $black-color;
  background-image: linear-gradient(rgba(5, 5, 5, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0, 50% 100%;
  background-size: auto;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  background-image: url("../img/background-desktop@2x.jpg");
}

@media (max-width: $desktop-width) {
  .banner {
    margin-bottom: -30px;
    background: none;
  }
}

@media (max-width: $tablet-width) {
  .banner {
    padding-bottom: 60px;
    margin-bottom: 0;
  }
}
