.banner {
  position: relative;
  margin-bottom: 100px;
}

@media (max-width: $desktop-width) {
  .banner {
    margin-bottom: 70px;
  }
}

@media (max-width: $tablet-width) {
  .banner {
    margin-bottom: 38px;
  }
}
