.projects-item__ref {
  color: $white-color;
}

.projects-item__title {
  @include reset-indents();
  height: 45px;
  margin-bottom: 25px;
  font-family: $font-stack;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: -0.1px;
  overflow: hidden;
}

.projects-item:nth-last-of-type(2) .projects-item__title,
.projects-item:last-of-type .projects-item__title {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 42px;
}

.projects-item__text {
  @include reset-indents();
  height: 130px;
  line-height: 22px;
  color: $white-color;
  opacity: 0.66;
  overflow: hidden;

  &--small {
    width: 95.8%;
  }

  &--big {
    width: 80.8%;
  }
}

.projects-item__link {
  position: absolute;
  right: 10px;
  bottom: 12px;
  width: 45px;
  height: 34px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.34);

  &::after,
  &::before {
    content: "";
    position: absolute;
  }

  &::after {
    top: 45%;
    left: 67%;
    margin-left: -7px;
    transform: translate(-67%, -45%);
    width: 15px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.34);
  }

  &::before {
    top: 47%;
    left: 75%;
    margin-left: -2px;
    transform: translate(-75%, -45%);
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left: 4px solid rgba(255, 255, 255, 0.34);
  }

  &:hover,
  &:focus {
    background-color: $main-color;

    &::after {
      background-color: $black-color;
    }

    &::before {
      border-left-color: $black-color;
    }
  }
}

@media (max-width: $desktop-width) {
  .projects-item__title {
    height: 42px;
    margin-bottom: 6px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: -0.1px;
  }

  .projects-item:nth-last-of-type(2) .projects-item__title,
  .projects-item:last-of-type .projects-item__title {
    margin-bottom: 3px;
    font-size: 24px;
    line-height: 42px;
  }

  .projects-item__text {
    font-size: 18px;
    height: 66px;
    letter-spacing: -0.1px;

    &--small,
    &--big {
      width: 85.6%;
    }
  }

  .projects-item__text-tablet {
    display: none;
  }

  .projects-item__link {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .projects-item__title {
    margin-bottom: 0;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.9px;
  }

  .projects-item:nth-last-of-type(2) .projects-item__title,
  .projects-item:last-of-type .projects-item__title {
    font-size: 16px;
    line-height: 16px;
  }

  .projects-item__text--mobile {
    display: none;
  }
}
