.projects {
  margin-bottom: 110px;
}

.projects__header {
  margin-bottom: 35px;
}

.projects__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  align-items: top;

  @include reset-list();
}

.projects__item {
  position: relative;
  flex-grow: 1;
  width: 24.6%;
  min-height: 290px;
  margin-right: 5px;
  margin-bottom: 3px;
  background-color: $black-color;

  &:nth-child(4n),
  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $desktop-width) {
  .projects {
    margin-bottom: 68px;
  }

  .projects__list {
    flex-direction: column;
  }

  .projects__item {
    width: 100%;
    min-height: 180px;
    margin-bottom: 10px;
  }
}

@media (max-width: $tablet-width) {
  .projects {
    margin-bottom: 35px;
  }

  .projects__header {
    margin-bottom: 15px;
  }

  .projects__list {
    padding: 0 6%;
  }

  .projects__item {
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
  }
}
