.projects {
  margin-bottom: 110px;
}

.projects__header {
  margin-bottom: 35px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  align-items: top;

  @include reset-list();
}

.projects__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 24.6%;
  height: 290px;
  padding: 53px 0 35px 2.6%;
  margin-right: 5px;
  margin-bottom: 3px;
  background-color: $black-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  &--stadium {
    background-image: url("../img/stadium-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/stadium-desktop@2x.jpg");
    }
  }

  &--center {
    background-image: url("../img/business-center-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/business-center-desktop@2x.jpg");
    }
  }

  &--cinema {
    background-image: url("../img/cinema-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/cinema-desktop@2x.jpg");
    }
  }

  &--medial {
    background-image: url("../img/medial-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/medial-desktop@2x.jpg");
    }
  }

  &--company {
    padding-top: 40px;
    background-image: url("../img/energo-company-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/energo-company-desktop@2x.jpg");
    }
  }

  &--theater {
    padding-top: 40px;
    background-image: url("../img/theater-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/theater-desktop@2x.jpg");
    }
  }

  &:nth-child(4n),
  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $desktop-width) {
  .projects {
    margin-bottom: 68px;
  }

  .projects__list {
    flex-direction: column;
  }

  .projects__item {
    width: 100%;
    height: 180px;
    padding: 36px 0 16px 6.2%;
    margin-right: 5px;
    margin-bottom: 10px;

    &--stadium {
      background-image: url("../img/stadium-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/stadium-tablet@2x.jpg");
      }
    }

    &--center {
      background-image: url("../img/business-center-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/business-center-tablet@2x.jpg");
      }
    }

    &--cinema {
      padding-top: 30px;
      background-image: url("../img/cinema-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/cinema-tablet@2x.jpg");
      }
    }

    &--medial {
      padding-top: 25px;
      background-image: url("../img/medial-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/medial-tablet@2x.jpg");
      }
    }

    &--company {
      background-image: url("../img/energo-company-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/energo-company-tablet@2x.jpg");
      }
    }

    &--theater {
      background-image: url("../img/theater-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/theater-tablet@2x.jpg");
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .projects {
    margin-bottom: 35px;
  }

  .projects__header {
    margin-bottom: 15px;
  }

  .projects__list {
    padding: 0 6%;
  }

  .projects__item {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    margin-bottom: 10px;

    &--stadium {
      background-image: url("../img/stadium-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/stadium-mobile@2x.jpg");
      }
    }

    &--center {
      background-image: url("../img/business-center-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/business-center-mobile@2x.jpg");
      }
    }

    &--cinema {
      padding-top: 25px;
      background-image: url("../img/cinema-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/cinema-mobile@2x.jpg");
      }
    }

    &--medial {
      padding-top: 25px;
      background-image: url("../img/medial-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/medial-mobile@2x.jpg");
      }
    }

    &--company {
      background-image: url("../img/energo-company-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/energo-company-mobile@2x.jpg");
      }
    }

    &--theater {
      background-image: url("../img/theater-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/theater-mobile@2x.jpg");
      }
    }
  }
}
