.appointment-privacy {
  margin-bottom: 34px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: $black-color;
  opacity: 0.5;

  &__link {
    display: block;
    margin-left: 120px;
    width: 200px;
    padding-bottom: 2px;
    font: inherit;
    color: $black-color;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  }
}

.appointment-privacy__text {
  @include reset-indents();
  padding-left: 30px;
}

@media (max-width: $desktop-width) {
  .appointment-privacy {
    margin-bottom: 26px;
    font-size: 10px;
    line-height: 12px;

    &__link {
      width: 160px;
      padding-bottom: 2px;
    }
  }

  .appointment-privacy__text {
    padding-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .appointment-privacy {
    margin-bottom: 29px;
  }
}
