.appointment {
  position: absolute;
  z-index: 100;
  top: -185px;
  left: 50%;
  margin-left: -288px;
  width: 580px;
  padding: 43px 103px 35px 74px;
  background-color: $white-color;
}

.appointment__title {
  @include reset-indents();
  padding-left: 35px;
  margin-bottom: 20px;
  font-family: $font-header;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: $black-color;
}

@media (max-width: $desktop-width) {
  .appointment {
    top: -120px;
    left: 46%;
    width: 413px;
    padding: 32px 51px 30px;
  }

  .appointment__title {
    padding-left: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.8px;
  }
}

@media (max-width: $tablet-width) {
  .appointment {
    position: static;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 40px 6% 60px;
  }

  .appointment__title {
    margin-bottom: 4px;
  }
}
