.footer-social {
  order: -1;
}

.footer-social__list {
  @include reset-list();
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 140px;
}

.footer-social__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    width: 35px;
  }

  &:nth-child(2) {
    width: 21px;
  }

  &:last-child {
    width: 22px;
  }
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__icon {
  fill: #666666;

  &:hover,
  &:focus {
    fill: $white-color;
  }

  &--vk {
    width: 35px;
    height: 35px;
  }

  &--twitter {
    width: 27px;
    height: 27px;
  }

  &--fb {
    width: 26px;
    height: 26px;
  }

  .footer-social__item--fb {
    position: relative;
  }

  .footer-social__item--fb .footer-social__link--active,
  .footer-social__item--fb .footer-social__link--hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: $desktop-width) {
  .footer-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 38px;
    letter-spacing: 0.4px;
    color: $white-color;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .footer-social__list {
    margin-left: auto;
    margin-top: 5px;
    width: 13.7%;
  }

  .footer-social__item {
    &:first-child {
      width: 22px;
    }

    &:nth-child(2) {
      width: 15px;
    }

    &:last-child {
      width: 15px;
    }
  }

  .footer-social__icon {
    &--vk {
      width: 22px;
      height: 22px;
    }

    &--twitter {
      width: 17px;
      height: 17px;
    }

    &--fb {
      width: 17px;
      height: 20px;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer-social {
    order: 1;
    flex-direction: column;
    padding-bottom: 48px;
    border-bottom: none;
    background-color: #1a1a1a;
  }

  .footer-social__list {
    order: 2;
    margin: 0 auto 0 7%;
    width: 148px;
  }

  .footer-social__item {
    &:first-child {
      width: 40px;
    }

    &:nth-child(2) {
      width: 26px;
    }

    &:last-child {
      width: 21px;
    }
  }

  .footer-social__icon {
    &--vk {
      width: 40px;
      height: 40px;
    }

    &--twitter {
      width: 31px;
      height: 31px;
    }

    &--fb {
      width: 30px;
      height: 29px;
    }
  }
}
