.form__field {
  @include reset-indents();
}

.form__input {
  width: 100%;
  padding: 10px 0 15px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 1.2px;

  &::placeholder {
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 1.2px;
    color: $black-color;
  }
}

.form__field-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.form__field--name,
.form__field--phone {
  width: 180px;
}

.form__field--email {
  margin-bottom: 24px;
}

.form__field--text {
  margin-bottom: 27px;
}

.form__button {
  display: block;
  margin-left: 103px;
  padding: 2px 43px 10px 48px;
  text-align: center;
  font-family: $font-header;
  font-size: 25px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.4px;
  color: $white-color;
  background-color: $black-color;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 3px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: $desktop-width) {
  .form__field-wrapper,
  .form__field--email {
    margin-bottom: 8px;
  }

  .form__input {
    width: 100%;
    padding: 11px 0 14px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.6px;

    &::placeholder {
      font-size: 14px;
      line-height: 35px;
      letter-spacing: 0.6px;
      color: $black-color;
    }
  }

  .form__field--name {
    width: 118px;
  }

  .form__field--phone {
    width: 152px;
  }

  .form__field--text {
    margin-bottom: 13px;
  }

  .form__button {
    display: block;
    margin-left: 73px;
    padding: 3px 37px 6px 39px;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.1px;
  }
}

@media (max-width: $tablet-width) {
  .form__field-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4px;
  }

  .form__field--name,
  .form__field--phone {
    width: 43.5%;
  }

  .form__field--email {
    margin-bottom: 10px;
  }

  .form__field--text {
    margin-bottom: 23px;
  }

  .form__button {
    display: block;
    margin: 0 auto;
    padding: 3px 37px 6px 39px;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.1px;
  }
}
